<footer class="footer-section">
    <div class="container">
      <div class="footer-cta pt-5 pb-5">
      </div>
      <div class="footer-content pt-5 pb-5">
        <div class="row">
          <div class="col-xl-4 col-lg-4 mb-50">
            <div class="footer-widget">
              <div class="footer-logo">
                <a href="index.html"><img src="Images/logo-footer.webp" class="img-fluid" alt="logo"></a>
              </div>
              <div class="footer-text">
                <p>MST: 0316377193 (do Sở Kế hoạch và Đầu tư <br> Thành phố Hồ Chí Minh cấp lần đầu <br> ngày 13 tháng
                  07 năm 2020)</p>
              </div>
              <div class="footer-text">
                <p> <i class="bi bi-telephone-plus" style="color: #a80f23; font-size: 1.5rem; font-weight: bold;">
                    0934000586</i> <br>
                  Địa chỉ: 587-589 Đường 3/2, Phường 08, <br> Quận 10, Hồ Chí Minh</p>
              </div>
              <div class="footer-text">
                <p>Mở cửa: từ 8:00-21:00h tất cả các ngày <br> trong tuần</p>
              </div>

            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
            <div class="footer-widget">
              <div class="footer-widget-heading">
              </div>
              <ul>
                <li><a href="#" style="font-weight: bold; color: black;">THÔNG TIN CÔNG TY</a></li>
                <li><a href="#" style="font-weight: bold; color: black;">hỖ TRỢ KHÁCH HÀNG</a></li>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Chính sách khách hàng</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Chính cách trả góp</a></li>
                <li><a href="#">Sản phẩm</a></li>
                <li><a href="#">Quy định đổi trả</a></li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Câu hỏi thường gặp</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>

                </a></li>
                <li><a href="#"></a></li>
                <li><a href="#">Khách hàng phản hồi</a></li>
                <li><a href="#"></a></li>
                <li><a href="#" style="font-weight: bold; color: black;">Phương thức thanh toán</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"><img src="Images/visa.svg" alt=""><img src="Images/visa1.svg" alt=""><img
                      src="Images/visa2.svg" alt=""></a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <p style="font-weight: bold;">DỊCH VỤ KHÁCH HÀNG</p>
                <p style="margin-top: 20px;">QUAN TÂM ZALO OA HADOSA</p>
                <p>Để nhận các thông tin khuyến mãi hấp <br> dẫn nhất</p>
              </div>
              <div class="footer-text mb-25" style="margin-top: 100px;">
                <p> <i class="bi bi-facebook" style="color: blue;font-size: 2.5rem; margin-right: 10px;"></i>
                  <i class="bi bi-instagram" style="color: orangered;font-size: 2.5rem; margin-right: 10px;"></i>
                  <i class="bi bi-youtube" style="color: red;font-size: 2.5rem;"></i>
                </p>
              </div>
              <div class="subscribe-form">
                <form action="#">

                  <input type="text" placeholder="Địa chỉ email">
                  <button><i class="fab fa-telegram-plane"></i></button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 text-center text-lg-left">
            <div class="copyright-text">
              <p> <a href="" style="color: aliceblue;">https://hadosa.com/</a> &copy; Trang sức đá phong thủy </p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
            <div class="footer-menu">
              <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Chính sách</a></li>
                <li><a href="#">Điều khoản</a></li>
                <li><a href="#">Bảo mật</a></li>
                <li><a href="#">Liên hệ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>